## Data Collection

In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
#Rename movie_id -> id to merge two datasets
credits.rename(columns={'movie_id' : 'id'},inplace=True)

In [6]:
#Merging both the datasets through id
df = movies.merge(credits,on='id')
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [7]:
df.rename(columns={'title_x':'title'},inplace=True)

In [8]:
df.original_language.value_counts().head() #Most movies are in english

en    4505
fr      70
es      32
zh      27
de      27
Name: original_language, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

### Important columns to keep:
-> genres<br>
-> id<br>
-> keywords<br>
-> title<br>
-> overview<br>
-> cast (top 3 actors only) <br>
-> crew (only director)

In [10]:
movies = df[['id','title','genres','keywords','overview','cast','crew']]
movies.head()

,id,title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Data Preprocessing

In [11]:
# Check for missing data
movies.isnull().sum()

id          0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [12]:
#drop missing entries
movies = movies.dropna()
movies.isnull().sum()

id          0
title       0
genres      0
keywords    0
overview    0
cast        0
crew        0
dtype: int64

In [13]:
#Check for duplicate entries
movies.duplicated().sum()

0

In [14]:
movies.reset_index(inplace=True)

### Creating tags from Genres, Keywords, Overview, Cast and Crew

In [15]:
#Genres, keywords, cast and crew are of type list of dictionaries 
movies.genres[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
#Helper function to convert list of dictionaries into string
def get_tags(data):    
    #eval() converts str into list of dictionaries
    tagList = []
    for dict in eval(data):
        tagList.append(dict['name'].replace(" ","_"))     #Concatening space separated words together using '_'
    return " ".join(tagList)

def get_top3_actors(cast):
    actors = []
    for dict in eval(cast)[:3]:
        actors.append(dict['name'].replace(" ","_"))
    return " ".join(actors)

def get_director(crew):
    for dict in eval(crew):
        if dict['job'] == 'Director':
            return dict['name'].replace(" ","_")

In [17]:
#Applying the transformations
movies.genres = movies.genres.apply(get_tags)
movies.keywords = movies.keywords.apply(get_tags)
movies.cast = movies.cast.apply(get_top3_actors)
movies.crew = movies.crew.apply(get_director)
movies.head()

,index,id,title,genres,keywords,overview,cast,crew
0,0,19995,Avatar,Action Adventure Fantasy Science_Fiction,culture_clash future space_war space_colony so...,"In the 22nd century, a paraplegic Marine is di...",Sam_Worthington Zoe_Saldana Sigourney_Weaver,James_Cameron
1,1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug_abuse exotic_island east_india_trad...,"Captain Barbossa, long believed to be dead, ha...",Johnny_Depp Orlando_Bloom Keira_Knightley,Gore_Verbinski
2,2,206647,Spectre,Action Adventure Crime,spy based_on_novel secret_agent sequel mi6 bri...,A cryptic message from Bondâ€™s past sends him o...,Daniel_Craig Christoph_Waltz LÃ©a_Seydoux,Sam_Mendes
3,3,49026,The Dark Knight Rises,Action Crime Drama Thriller,dc_comics crime_fighter terrorist secret_ident...,Following the death of District Attorney Harve...,Christian_Bale Michael_Caine Gary_Oldman,Christopher_Nolan
4,4,49529,John Carter,Action Adventure Science_Fiction,based_on_novel mars medallion space_travel pri...,"John Carter is a war-weary, former military ca...",Taylor_Kitsch Lynn_Collins Samantha_Morton,Andrew_Stanton

In [18]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     4800 non-null   int64
 1   id        4800 non-null   int64
 2   title     4800 non-null   object
 3   genres    4800 non-null   object
 4   keywords  4800 non-null   object
 5   overview  4800 non-null   object
 6   cast      4800 non-null   object
 7   crew      4770 non-null   object
dtypes: int64(2), object(6)
memory usage: 300.1+ KB

In [19]:
#Replacing NA with empty string
movies.crew.fillna("",inplace=True)

In [20]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4800 entries, 0 to 4799
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   index     4800 non-null   int64
 1   id        4800 non-null   int64
 2   title     4800 non-null   object
 3   genres    4800 non-null   object
 4   keywords  4800 non-null   object
 5   overview  4800 non-null   object
 6   cast      4800 non-null   object
 7   crew      4800 non-null   object
dtypes: int64(2), object(6)
memory usage: 300.1+ KB

In [21]:
#Concatenating all tags together
movies['tag']= movies.overview+" "+movies.genres+" "+movies.keywords+" "+movies.cast+" "+movies.crew

In [22]:
movies.head()

,index,id,title,genres,keywords,overview,cast,crew,tag
0,0,19995,Avatar,Action Adventure Fantasy Science_Fiction,culture_clash future space_war space_colony so...,"In the 22nd century, a paraplegic Marine is di...",Sam_Worthington Zoe_Saldana Sigourney_Weaver,James_Cameron,"In the 22nd century, a paraplegic Marine is di..."
1,1,285,Pirates of the Caribbean: At World's End,Adventure Fantasy Action,ocean drug_abuse exotic_island east_india_trad...,"Captain Barbossa, long believed to be dead, ha...",Johnny_Depp Orlando_Bloom Keira_Knightley,Gore_Verbinski,"Captain Barbossa, long believed to be dead, ha..."
2,2,206647,Spectre,Action Adventure Crime,spy based_on_novel secret_agent sequel mi6 bri...,A cryptic message from Bondâ€™s past sends him o...,Daniel_Craig Christoph_Waltz LÃ©a_Seydoux,Sam_Mendes,A cryptic message from Bondâ€™s past sends him o...
3,3,49026,The Dark Knight Rises,Action Crime Drama Thriller,dc_comics crime_fighter terrorist secret_ident...,Following the death of District Attorney Harve...,Christian_Bale Michael_Caine Gary_Oldman,Christopher_Nolan,Following the death of District Attorney Harve...
4,4,49529,John Carter,Action Adventure Science_Fiction,based_on_novel mars medallion space_travel pri...,"John Carter is a war-weary, former military ca...",Taylor_Kitsch Lynn_Collins Samantha_Morton,Andrew_Stanton,"John Carter is a war-weary, former military ca..."

In [23]:
movies.tag[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy Science_Fiction culture_clash future space_war space_colony society space_travel futuristic romance space alien tribe alien_planet cgi marine soldier battle love_affair anti_war power_relations mind_and_soul 3d Sam_Worthington Zoe_Saldana Sigourney_Weaver James_Cameron'

## Text Preprocessing

In [24]:
#Creating a new df with relevant columns only
movies_tag = movies[['id','title','tag']]
movies_tag.head()

,id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [25]:
#Converting the tags into lowercase
movies_tag.tag = movies_tag.tag.apply(lambda x : x.lower())
movies_tag.head()

C:\Users\SANYAM\AppData\Local\Temp\ipykernel_24024\728178096.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_tag.tag = movies_tag.tag.apply(lambda x : x.lower())

,id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [26]:
#Removing Punctuation and special symbols (except '_' b/c we used it to concat words earlier)

punctuation = '`~!@#$%^&*()+-={}[]|\:;â€“"\'â€™,./<>?0123456789'
def remove_punctuation(text):
    for p in punctuation:
        if p in text:
            text = text.replace(p,"")
    return text

In [27]:
movies_tag.tag = movies_tag.tag.apply(remove_punctuation)
movies_tag.head()

C:\Users\SANYAM\AppData\Local\Temp\ipykernel_24024\3239705633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_tag.tag = movies_tag.tag.apply(remove_punctuation)

,id,title,tag
0,19995,Avatar,in the nd century a paraplegic marine is dispa...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believed to be dead has ...
2,206647,Spectre,a cryptic message from bonds past sends him on...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,john carter is a warweary former military capt...

In [28]:
#Stemming
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    words = []
    
    for word in text.split():
        words.append(ps.stem(word))
    return " ".join(words)

In [29]:
movies_tag.tag = movies_tag.tag.apply(stem)
movies_tag.head()

C:\Users\SANYAM\AppData\Local\Temp\ipykernel_24024\3266260200.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_tag.tag = movies_tag.tag.apply(stem)

,id,title,tag
0,19995,Avatar,in the nd centuri a parapleg marin is dispatch...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believ to be dead ha com...
2,206647,Spectre,a cryptic messag from bond past send him on a ...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,john carter is a warweari former militari capt...

## Text Vectorization
**Bag of Words**:<br>
In Bag of Words, we will combine all the tags of all the movies and then count their frequencies. Top N words will be selected on the basis of their count. Stop words like 'in', 'and', 'it' etc. will not be considered. <br>

We will construct a matrix where the rows correspond to the movies and columns correspond to the Top N words (known as Document Term Matrix), which basically describes the frequency of tags corresponding to a particular movie. 

Eg. Consider<br>
M1 = "Fun world fun games"<br>
M2 = "Play games world enjoy " <br>

Document Term Matrix:<br>

        Fun Play World Games Enjoy
    M1   2  0    1     1     0
    M2   0  1    1     0     1

Here N = 5

Consider the N words as N dimensional vector. Vectors which are closer to each other are more similar. Here, we will use **Cosine Distance** (angle between them) to calculate the distance (hence similarity) between the vectors.<br>

**Euclidean Distance is not a reliable measure when dealing with High Dimensional Data.**

In [30]:
#Importing the library to implement Text Vectorization
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [31]:
vectors = cv.fit_transform(movies_tag['tag']).toarray()
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [32]:
#To get the max features selected through CountVectorizer
cv.get_feature_names()[:10]

['aaron',
 'aaron_eckhart',
 'abandon',
 'abbi',
 'abduct',
 'abigail_breslin',
 'abil',
 'abl',
 'aboard',
 'aborigin']

In [33]:
#Calculating the cosine similarity (invervse of cosine distance)
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(vectors)

In [34]:
#Entry (i,j) means similary of ith movie with jth movie
pd.DataFrame(similarity_matrix)

,0,1,2,3,4,5,6,7,8,9,...,4790,4791,4792,4793,4794,4795,4796,4797,4798,4799
0,1.000000,0.082572,0.082572,0.071157,0.158114,0.123466,0.000000,0.138380,0.058722,0.092253,...,0.000000,0.000000,0.020585,0.051299,0.000000,0.018765,0.045644,0.063387,0.023313,0.000000
1,0.082572,1.000000,0.060606,0.039171,0.074605,0.108745,0.000000,0.152351,0.064651,0.101567,...,0.000000,0.000000,0.022663,0.028239,0.000000,0.041318,0.000000,0.023262,0.000000,0.027186
2,0.082572,0.060606,1.000000,0.058756,0.074605,0.108745,0.000000,0.152351,0.064651,0.101567,...,0.087039,0.000000,0.000000,0.000000,0.016988,0.041318,0.000000,0.046524,0.000000,0.000000
3,0.071157,0.039171,0.058756,1.000000,0.032145,0.052713,0.027910,0.065644,0.041785,0.229755,...,0.028127,0.028127,0.029295,0.054754,0.010980,0.066762,0.000000,0.060138,0.049766,0.070284
4,0.158114,0.074605,0.074605,0.032145,1.000000,0.111553,0.035438,0.187541,0.079584,0.083351,...,0.035714,0.000000,0.074394,0.023174,0.139414,0.152586,0.000000,0.019090,0.084253,0.044621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4795,0.018765,0.041318,0.041318,0.066762,0.152586,0.092672,0.014720,0.138488,0.132228,0.051933,...,0.000000,0.059339,0.139055,0.057756,0.266381,1.000000,0.000000,0.015859,0.157483,0.129741
4796,0.045644,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.072169,0.000000,0.000000,0.056344,0.000000,1.000000,0.115728,0.042563,0.000000
4797,0.063387,0.023262,0.046524,0.060138,0.019090,0.041739,0.000000,0.000000,0.049629,0.019492,...,0.066815,0.033408,0.017397,0.043355,0.013041,0.015859,0.115728,1.000000,0.039406,0.020870
4798,0.023313,0.000000,0.000000,0.049766,0.084253,0.046053,0.036576,0.043013,0.082138,0.021507,...,0.000000,0.036860,0.095977,0.000000,0.143889,0.157483,0.042563,0.039406,1.000000,0.069080
4799,0.000000,0.027186,0.000000,0.070284,0.044621,0.024390,0.019371,0.045561,0.058001,0.022780,...,0.000000,0.000000,0.040664,0.025335,0.076205,0.129741,0.000000,0.020870,0.069080,1.000000

## Get Recommendations

In [35]:
def recommend(movie):
    index = movies_tag[movies_tag['title']==movie].index.values[0] #Retrieve the index of the given movie
    top5_movies = sorted(enumerate(similarity_matrix[index]),reverse=True,key=lambda x : x[1])[1:6] #Find top 5 movies
    
    for x in top5_movies:
        print(movies_tag.title[x[0]])

In [36]:
#Example
recommend('Batman')

Batman & Robin
Batman Begins
Batman Returns
The R.M.
The Dark Knight Rises

## Saving the model

In [37]:
import pickle
pickle.dump(movies_tag,open('movies.pkl','wb'))

In [38]:
pickle.dump(similarity_matrix,open('similarity.pkl','wb'))